
<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 d-flex flex-column">
      <div class="mt-3 text-center">
        <a href="/" class="btn btn-info">顯示全部</a>
      </div>
      <div class="mt-3 text-center">
        <a href="/new" class="btn btn-success">前往新增Todo頁面</a>
      </div>
      <div class="mt-3 text-center">
        <a href="/:id" class="btn btn-warning">顯示特定Todo頁面</a>
      </div>
    </div>
  </div>
</div>